/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font_awesome5_webfont';

.jumbotron {
  background-color: #fff;
  padding: 25px !important;
  margin: 25px;
}

small {
  color: #acabab;
}
.logo-cloud {
  width: 100vw;
  height: 40vh;
}

.logo {
  position: absolute;
  top: 5%;
  left: 49vw;
}

.box {
  width: 30%;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  position: absolute;
  top: 13%;
  left: 36.5%;
  box-shadow: 0 0 10px lightgrey;
  border-radius: 5px;
}

fieldset {
  border: solid 1px #DDD !important;
  padding: 0;
  border-bottom: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

legend {
  width: 18%;
  margin-bottom: 0;
  font-size: 1rem !important;
  margin-left: 10px;
  padding-left: 10px;
  color: #4D77B9;
  padding-top: 10px;
}

.btn-primary {
  background-color: #4D77B9;
}

.border-0, .border-0:focus {
  border: none !important;
  box-shadow: none !important;
  padding-top: 0;
  border-radius: 10px;
}
.error {
  color: red;
  font-size: small;
  font-style: italic;
  text-transform: capitalize;
}
input + .error {
  border-color: red;
}

.custom-file-label {
  color: #5477bc !important;
  text-align: left;
}

.signup-preview {
  position: absolute;
  width: 100px;
  height: auto;
  top: -50px;
  right: -80px;
}

@media only screen and (max-width: 1300px) {
  .logo-cloud {
    height: 35vh;
  }

  .logo {
    position: absolute;
    left: 48vw;
  }

  .box {
    width: 40%;
    position: absolute;
    left: 30%;
    box-shadow: 0 0 25px grey;
  }
}

@media only screen and (max-width: 800px) {
  .logo-cloud {
    height: 50vh;
  }

  .logo {
    position: absolute;
    left: 47vw;
  }

  .box {
    width: 85%;
    position: absolute;
    left: 7.5%;
    box-shadow: 0 0 25px grey;
  }
}

@media only screen and (min-width: 1280px) {
  .min-hidden {
    display: none;
  }
  .mid-portion {
    width: 70%;
    float: left;
    padding-right: 10px;
  }
  .stories {
    margin-top: 25px;
    width: calc(30% - 35px);
    height: 100vh;
    background-color: #fff;
    float: left;
    margin-right: 35px;
  }
  .sidebar {
    margin-top: 0px;
  }
}
